body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    font-family: Arial, sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.settings-container {
    text-align: center;
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.setting {
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #333333;
}

h2 {
    margin-bottom: 10px;
    color: #333333;
}

input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

label {
    font-size: 14px;
    color: #333333;
}

.checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.checkbox-label input[type="checkbox"] {
    margin-right: 8px;
}
